<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>COVID19 Analysis India</title>
        <meta name="HandheldFriendly" content="True">
	    <meta name="MobileOptimized" content="320">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="canonical" href="http://covid19analysis.live" />

        <!-- Google Tag Manager -->

        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P5FM6PM');</script>


        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-1.1.0.min.js"></script>
        <script type="text/javascript" src="static/js/bokeh.min.js?v=57d29d5936e494351385d736f792154c"></script>
        <script type="text/javascript" src="static/js/bokeh-widgets.min.js?v=fdb1f42cceaade9062de57963cac654c"></script>
        <script type="text/javascript" src="static/js/bokeh-tables.min.js?v=0a7f930d4b0805283dfba427bb3d0dae"></script>
        <script type="text/javascript" src="static/js/bokeh-gl.min.js?v=c376f0736800259be44cb1aed39a6cc3"></script>
        <script type="text/javascript">
            Bokeh.set_log_level("info");
        </script>

        <meta name="description" content="It is a Bokeh Application made exclusively for COVID19 analysis for India and all the states with the available open source data of The Ministry of Health and Family Affair."/>
        <meta property="og:description" content="Dashboard made exclusively for COVID19 analysis for India and it's states with available open source data of The Ministry of Health and Family Affair. " />
        <meta property="og:url" content="http://www.covid19analysis.live" />
        <meta property="og:site_name" content="COVID19 Analysis India" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:description" content="Dashboard made exclusively for COVID19 analysis for India and it's states with available open source data of The Ministry of Health and Family Affair." />
        <meta name="twitter:title" content="Analyse and Compare COVID19 spread between Indian states" />
        <meta name="twitter:site" content="@akashagl" />

<!-- End Google Tag Manager -->

    </head>

    <body>
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5FM6PM"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        {{div|safe}}
        {{script|safe}}
    </body>
</html>